# Игнорируем папку с node_modules
node_modules

# Игнорируем папку с кешами (например, когда ты используешь npm или yarn)
npm-debug.log
yarn-error.log
/.yarn
/.pnp
/pnpm-debug.log

# Игнорируем временные файлы окружений и конфигурации
.env

# Игнорируем директорию сборки (если она есть)
dist

# Игнорируем дополнительные конфигурационные файлы, которые не нужны в контейнере
*.log
